<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="/agendar/agendar.css">
        <title>LUX Agende Test-Drive</title>
    </head>

    <body>
        <nav>
            <p class="logo">LUX</p>
            <div class="links">
                <ul class="nav-itens">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/sobre}">Sobre</a></li>
                    <li><a th:href="@{/carros/find-all}">Veiculos</a></li>
                </ul>
            </div>
            <div class="right-icons">
                <div class="btn">
                    <a th:href="@{/login}" class="field profile">
                        <i class='bx bx-user-circle profile-icon'></i>
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="form-container">
                <h1 class="namecar" ><span th:text="${car.name}"></span></h1>

                <form th:action="@{/agendar-test-drive(carId=${car.id})}" th:object="${client}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" id="nome" name="nome" required placeholder="Nome">
                        <span class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" id="sobrenome" name="sobrenome" required placeholder="Sobrenome">
                        <span class="text-danger" th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}"></span>
                    </div>

                    <div class="form-group">
                        <label for="pais">País</label>
                        <select name="pais" id="pais">
                            <option value="brasil">Brasil</option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" id="cep" name="cep" required placeholder="CEP" color="white">
                        <span class="text-danger" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></span>
                    </div>

                    <div class="form-group">
                        <label for="preferencia">Preferência de contato</label>
                        <select name="preferencia" id="preferencia">
                            <option value="telefone">Telefone</option>
                            <option value="email">E-mail</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="tel" id="telefone" name="telefone" required placeholder="Telefone">
                        <span class="text-danger" th:if="${#fields.hasErrors('contato')}" th:errors="*{contato}"></span>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email" th:field="*{email}">
                    </div>

                    <button type="submit" >ENVIAR</button>
                </form>
            </div>

            <div class="image-container">
                <img th:src="${car.image}" alt="">
            </div>
        </div>

        <footer>
            <div class="secoes">
                <section class="informacoes">
                    <div class="info1">
                        <li><a class="link1" th:href="@{/home}">Home</a></li>
                    </div>
                    <div class="info2">
                        <li><a class="link1" th:href="@{/carros/find-all}">Veiculos</a></li>
                    </div>
                    <div class="info3">
                        <li><a class="link1" th:href="@{/sobre}">Sobre</a></li>
                    </div>
                </section>

                <hr class="divisao">

                <section class="contato">
                    <ul class="redes-sociais">
                        <a href="#" class="redes-sociais"><i class='bx bxl-instagram'></i></a>
                    </ul>
                    <ul class="redes-sociais">
                        <a href="#" class="redes-sociais"><i class='bx bxl-github'></i></a>
                    </ul>
                    <ul class="redes-sociais">
                        <a href="#" class="redes-sociais"><i class='bx bxl-facebook'></i></a>
                    </ul>
                    <ul class="redes-sociais">
                        <a href="#" class="redes-sociais"><i class='bx bxl-twitter'></i></a>
                    </ul>
                </section>
                <section class="creditos">
                    <p>© LUX</p>
                </section>
            </div>
        </footer>
    </body>
</html>
