<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cars/car.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">

    <title>BYD Yuan Plus</title>

    <style>
        /* Estilo para o menu dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 120px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1;
            border-radius: 5px;
            text-align: center;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Estilo para os itens do menu */
        .dropdown-content a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }
    </style>

</head>

<body>
<nav>
    <p class="logo">LUX</p>
    <div class="links">
        <ul class="nav-itens">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/sobre}">Sobre</a></li>
            <li><a th:href="@{/carros/find-all}">Veiculos</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="btn">
            <i class='bx bx-user-circle profile-icon'></i>
        </div>
        <div class="dropdown-content">
            <a th:href="@{/login}">Login</a>
            <a href="/logout">Sair</a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="model">
        <div class="content">
            <div class="slides">
                <input type="radio" name="slide" id="slide1" checked>
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">

                <div class="slide s1">
                    <img src="https://www.byd.com/content/dam/byd-site/br/product/yuan-plus-ev-br/banner-yuan-screen-PC.jpg"
                         alt="Interior BYD Yuan">
                </div>
                <div class="slide">
                    <img src="https://www.byd.com/content/dam/byd-site/br/product/yuan-plus-ev-br/F02-1.jpg"
                         alt="Interior BYD Yuan">
                </div>
                <div class="slide">
                    <img src="https://www.byd.com/content/dam/byd-site/br/product/yuan-plus-ev-br/Banner-2-2-PC.jpg"
                         alt="Frente BYD Yuan">
                </div>
                <div class="slide">
                    <img src="https://www.byd.com/content/dam/byd-site/br/product/yuan-plus-ev-br/F07-1-1-2.jpg"
                         alt="Traseira BYD Yuan">
                </div>
                <div class="slide">
                    <img src="https://www.byd.com/content/dam/byd-site/br/product/yuan-plus-ev-br/Open-Solar-Yaun.jpg"
                         alt="Traseira BYD Yuan">
                </div>
                <div class="navigation">
                    <label class="bar" for="slide1"></label>
                    <label class="bar" for="slide2"></label>
                    <label class="bar" for="slide3"></label>
                    <label class="bar" for="slide4"></label>
                    <label class="bar" for="slide5"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="my-div">
        <h2>Informacoes do Carro</h2>
        <div class="car">
            <h3>Motor: <span th:text="${car.motor}"></span></h3>
            <h3>Potencia: <span th:text="${car.hp}"></span></h3>
            <h3>Portas: <span th:text="${car.doors}"></span></h3>
            <h3>Autonomia: <span th:text="${car.cil}"></span></h3>
            <h3>Torque: <span th:text="${car.torque}"></span></h3>
            <h3>Lugares: <span th:text="${car.seats}"></span></h3>
            <h3>Aceleracao: <span th:text="${car.acel}"></span></h3>
            <h3>Velocidade Maxima: <span th:text="${car.velmax}"></span></h3>
            <h3>Tracao: <span th:text="${car.val}"></span></h3>
            <div class="car-img">
                <img src="https://ecrie70.com.br/sistema/conteudos/imagem/g_66_0_3_16022023115331.jpg"
                     alt="BYD Yuan Plus">
            </div>
        </div>
        <ul class="links">
            <button class="btn1"><a class="link1" th:href="@{/agendar-test-drive/test-drive(carId=${car.id})}">Agendar Teste
                    Drive</a></button>
            <button class="btn2"><a class="link2" th:href="@{/agendar-test-drive/reservar-carro(carId=${car.id})}">Reserve o
                    seu</a></button>
        </ul>
    </div>
</div>
<footer>
    <div class="secoes">
        <section class="informacoes">
            <div class="info1">
                <li><a class="link3" th:href="@{/}">Home</a></li>
            </div>
            <div class="info2">
                <li><a class="link3" th:href="@{/find-all-cars}">Veiculos</a></li>
            </div>
            <div class="info3">
                <li><a class="link3" th:href="@{/Historia/historia}">Sobre</a></li>
            </div>
        </section>
        <hr class="divisao">
        <section class="contato">
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-instagram'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-github'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-facebook'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </ul>
        </section>
        <section class="creditos">
            <p>© LUX</p>
        </section>
    </div>
</footer>
</div>
<script src="/cars/car.js"></script>
</body>
</html>
