<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cars/car.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">

    <title>Porsche Taycan Turbo S</title>
</head>

<body>
<nav>
    <p class="logo">LUX</p>
    <div class="links">
        <ul class="nav-itens">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/sobre}">Sobre</a></li>
            <li><a th:href="@{/carros/find-all}">Veiculos</a></li>
        </ul>
    </div>
    <div class="right-icons">
        <div class="btn">
            <a th:href="@{/login}" class="field profile">
                <i class='bx bx-user-circle profile-icon'></i>
            </a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="model">
        <div class="content">
            <div class="slides">
                <input type="radio" name="slide" id="slide1" checked>
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">

                <div class="slide s1">
                    <img src="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbIwNKXv9Z7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO9I7KMIHihQ58cFgfNczL0DyIM5T89xnWikIyX6BCrAX8uzR3Lk67NH3CWhyYFoag9tkv10IIQ4qTu2Z3Ui6vswAB5V8elZNc3RHocQdfcmNZ09PejBoixJLKZhKHMTcAommnwibcBl9pbEzMRo"
                         alt="Interior Porsche Taycan Turbo S">
                </div>
                <div class="slide">
                    <img src="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbZJNKXv9Z7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO9I7KMIHihQ58cFgfNczL0DyIM5T89xnWikIyX6BCrAX8uzR3Lk67NH3CWhyYFoag9tkv10IIQ4qTu2Z3Ui6vswAB5V8elZNc3RHocQdfcmNZ09PejBoixJLKZhKHMTcAommnwibcBl9pbEzMRo"
                         alt="Frente Porsche Taycan Turbo S">
                </div>
                <div class="slide">
                    <img src="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbZJNKXv9L7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO9I7KMIHihQ58cFgfNczL0DyIM5T89xnWikIyX6BCrAX8uzR3Lk67NH3CWhyYFoag9tkv10IIQ4qTu2Z3Ui6vswAB5V8elZNc3RHocQdfcmNZ09PejBoixJLKZhKHMTcAommnwibcBl9pbEzMRo"
                         alt="Lateral Porsche Taycan Turbo S">
                </div>
                <div class="slide">
                    <img src="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbZJNKXv9A7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO9I7KMIHihQ58cFgfNczL0DyIM5T89xnWikIyX6BCrAX8uzR3Lk67NH3CWhyYFoag9tkv10IIQ4qTu2Z3Ui6vswAB5V8elZNc3RHocQdfcmNZ09PejBoixJLKZhKHMTcAommnwibcBl9pbEzMRo"
                         alt="Traseira Porsche Taycan Turbo S">
                </div>
                <div class="slide">
                    <img src="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbIwNKXv9L7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO9I7KMIHihQ58cFgfNczL0DyIM5T89xnWikIyX6BCrAX8uzR3Lk67NH3CWhyYFoag9tkv10IIQ4qTu2Z3Ui6vswAB5V8elZNc3RHocQdfcmNZ09PejBoixJLKZhKHMTcAommnwibcBl9pbEzMRo"
                         alt="Interior Porsche Taycan Turbo S">
                </div>

                <div class="navigation">
                    <label class="bar" for="slide1"></label>
                    <label class="bar" for="slide2"></label>
                    <label class="bar" for="slide3"></label>
                    <label class="bar" for="slide4"></label>
                    <label class="bar" for="slide5"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="my-div">
        <h2>Informacoes do Carro</h2>
        <div class="car">
            <h3>Motor: <span th:text="${car.motor}"></span></h3>
            <h3>Potencia: <span th:text="${car.hp}"></span></h3>
            <h3>Portas: <span th:text="${car.doors}"></span></h3>
            <h3>Autonomia: <span th:text="${car.cil}"></span></h3>
            <h3>Torque: <span th:text="${car.torque}"></span></h3>
            <h3>Lugares: <span th:text="${car.seats}"></span></h3>
            <h3>Aceleracao: <span th:text="${car.acel}"></span></h3>
            <h3>Velocidade Maxima: <span th:text="${car.velmax}"></span></h3>
            <h3>Tracao: <span th:text="${car.val}"></span></h3>

            <div class="car-img">
                <img src="https://f.i.uol.com.br/fotografia/2019/10/11/15708360035da10e23c87c2_1570836003_3x2_rt.jpg"
                     alt="Porsche Taycan Turbo S">
            </div>
        </div>
        <div class="toast">
            <div class="toast-content">
                <i class="fas fa-solid fa-check check"></i>

                <div class="message">
                    <span class="text text-1">Parabens!!</span>
                    <span class="text text-2">Carro Comprado com sucesso, entraremos em contato via e-mail dentro dos
                            proximos dias.</span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>
            <div class="progress active"></div>
        </div>
        <button onclick="showToast()">Comprar por R$<span th:text="${car.price}"></span></button>
    </div>
</div>
<footer>
    <div class="secoes">
        <section class="informacoes">
            <div class="info1">
                <li><a class="link1" th:href="@{/}">Home</a></li>
            </div>
            <div class="info2">
                <li><a class="link1" th:href="@{/find-all-cars}">Veiculos</a></li>
            </div>
            <div class="info3">
                <li><a class="link1" th:href="@{/Historia/historia}">Sobre</a></li>
            </div>
        </section>
        <hr class="divisao">
        <section class="contato">
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-instagram'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-github'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-facebook'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </ul>
        </section>
        <section class="creditos">
            <p>© LUX</p>
        </section>
    </div>
</footer>
</div>
<script src="/cars/car.js"></script>
</body>
</html>
