<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>

    <link rel="stylesheet" href="/login/loginCadastrar.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
</head>
<body>
<section class="container forms">
    <div class="form signup">
        <div class="form-content">
            <header>Cadastro</header>
            <form th:action="@{/cadastro}" th:object="${user}" method="post" enctype="multipart/form-data">

                <h5 th:text="${message}"></h5>
                <div class="field input-field">
                    <input type="username" name="username" placeholder="username" class="input" th:field="*{username}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
                <div class="field input-field">
                    <input type="email" name="email" placeholder="Email" class="input" th:field="*{email}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="field input-field">
                    <input type="password" name="password" placeholder="Senha" class="input" th:field="*{password}" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <i class="bx bx-hide eye-icon"></i>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirmar Senha" class="input" required>
                    <i class="bx bx-hide eye-icon"></i>
                </div>
                <div class="field button-field">
                    <button>Criar</button>
                </div>
            </form>
            <div class="form-link">
                <span>Já Possui uma conta?<a th:href="@{/login}" class="link login-link"> Logue aqui</a> </span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
