<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="checkout.css">
</head>
<body>
<div class="billing-form">
    <h2>Checkout</h2>
    <form action="/checkout" method="post" >
        <input type="text" name="firstName" placeholder="Nome" required class="form-control">
        <input type="text" name="lastName" placeholder="Sobrenome" required class="form-control">
        <input type="text" name="address" placeholder="Endereço" required class="form-control">
        <input type="text" name="state" placeholder="Estado" required class="form-control">
        <input type="text" name="zip" placeholder="CEP" required class="form-control">
        <button type="submit" class="form-control">Confirmar compra</button>
    </form>
</div>

<div class="cart">
    <h2>Carrinho</h2>
    <div class="item">
        <p>Nome do produto</p>
        <p>R$12</p>
    </div>
    <div class="item">
        <p>Nome do produto</p>
        <p>R$8</p>
    </div>
    <div class="item">
        <p>Nome do produto</p>
        <p>R$5</p>
    </div>
    <input type="text" name="promoCode" placeholder="Promo Code">

    <p class="total">Total Lulacoins: R$20</p>
    <button class="redeem">ok</button>
</div>
</body>
</html>
