/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.left, .right {
    width: 48%;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.cart {
    display: inline-block;
    flex-direction: column;
    align-items: flex-end;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.discount, .total {
    font-weight: bold;
}

.redeem {
    background-color: #28a745;
}

.form-control{
    flex: 0 0 auto;
    width: 50%;
}