<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="home/indexStyle.css">
    <title>LUX Home Page</title>
</head>
<body>
<nav>
    <p class="logo">LUX</p>
    <div class="links">
        <ul class="nav-itens">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/sobre}">Sobre</a></li>
            <li><a th:href="@{/carros/find-all}">Veiculos</a></li>
        </ul>
    </div>
    <div class="right-icons">
        <div class="btn">
            <a th:href="@{/login}" class="field profile">
                <i class='bx bx-user-circle profile-icon'></i>
            </a>
        </div>
    </div>
</nav>
<section class="carros">
    <div class="carro1">
        <img src="https://cas.volvocars.com/image/dynamic/MY24_2317/256/exterior-v3/H8/74000/RC0000/R187/TC05/_/2G03/TJ04/TP02/_/_/GR03/T101/NP03/TM02/_/CB03/EV02/JB0C/T214/LF01/_/VP07/UF02/FH02/_/_/_/TR06/_/default.jpg?market=br&client=gox-graph%7Cpdps&angle=4&w=1920&bg=descriptive-studio"
             alt="Volvo XC-90">
    </div>
    <div class="carro2">
        <img src="https://images6.alphacoders.com/129/1290771.jpg" alt="Audi E-Tron GT">
    </div>
    <button class="botao-imagem"><a href="">Confira nossas ofertas</a></button>
</section>

<footer>
    <div class="secoes">
        <section class="informacoes">
            <div class="info1">
                <li><a class="link1" th:href="@{/home}">Home</a></li>
            </div>
            <div class="info2">
                <li><a class="link1" th:href="@{/carros/find-all}">Veiculos</a></li>
            </div>
            <div class="info3">
                <li><a class="link1" th:href="@{/sobre}">Sobre</a></li>
            </div>
        </section>

        <hr class="divisao">

        <section class="contato">
            <ul class="redes-sociais">
                <a href="#" class="redes-sociais"><i class='bx bxl-instagram'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#" class="redes-sociais"><i class='bx bxl-github'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#" class="redes-sociais"><i class='bx bxl-facebook'></i></a>
            </ul>
            <ul class="redes-sociais">
                <a href="#" class="redes-sociais"><i class='bx bxl-twitter'></i></a>
            </ul>
        </section>
        <section class="creditos">
            <p>© LUX</p>
        </section>
    </div>
</footer>
</body>

</html>
